.mainBody {
  width: 35vw;
  height: 90vh;
  border: 3vw solid black;
  margin: 5vh auto;
  border-radius: 5rem;
  position: relative;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkseagreen;
}
.dot {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: black;
}

.one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two {
  display: flex;
  justify-content: space-evenly;
}

.two .dot:nth-of-type(2) {
  align-self: flex-end;
}

.three {
  display: flex;
  justify-content: space-between;
}

.three .dot:nth-of-type(3) {
  align-self: flex-end;
}

.three .dot:nth-of-type(2) {
  align-self: center;
  justify-content: center;
}

.four,
.five,
.six {
  display: flex;
  justify-content: space-between;
}

.four .column,
.five .column,
.six .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.five .column:nth-of-type(2) {
  justify-content: center;
}

.winner {
  color: #cf5e5e;
  position: relative;
  top: -4vh;
}

.boxesContainer {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 5vh;
}

.mainTitle {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  position: relative;
  top: -8vh;
  font-size: 2.5rem;
}
.titleWinner {
  position: relative;
  top: 0.5vh;
}

.winnerStats {
  color: #a04a59;
}
.littleBox {
  height: 3.135rem;
  width: 3.135rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 0.625rem;
  cursor: pointer;
  position: relative;
  background-color: white;
  padding: 0.3rem;
}

.dieNum {
  font-size: 2rem;
  position: absolute;
  margin: 0 auto;
}

.rollDice {
  height: fit-content;
  width: 6.25rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #5035ff;
  color: white;
  font-size: 1.2rem;
  margin-top: 5vh;
  cursor: pointer;
  padding: 0.5rem;
}

.rollDice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.selected {
  background-color: pink;
}

.instructions {
  font-weight: 400;
  margin-top: -6vh;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1.3rem;
  line-height: 2rem;
  padding-left: 4%;
  padding-right: 4%;
}
.winner {
  margin-top: 8vh;
  position: relative;
  top: -8vh;
  text-align: center;
}
.best {
  font-size: 1.2rem;
  margin-top: 3vh;
  text-align: center;
  line-height: 2rem;
  padding-left: 4%;
  padding-right: 4%;
}

@media screen and (max-width: 600px) {
  .littleBox {
    height: 1.7rem;
    width: 1.7rem;
  }

  .dot {
    width: 0.4rem;
    height: 0.4rem;
  }

  .dieNum {
    font-size: 1rem;
  }

  .boxesContainer {
    gap: 0.6rem;
    margin-top: 1.5vh;
  }

  .mainBody {
    width: 65vw;
  }

  .instructions {
    position: relative;
    font-size: 1.2rem;
    top: 1vh;
    margin-top: -5vh;
    padding: relative;
    line-height: 1.5rem;
    font-size: 1.2rem;
  }

  .mainTitle {
    top: -5vh;
    font-size: 2rem;
    text-align: center;
  }

  .winner {
    font-size: 1.5rem;
    top: -3vh;
  }
  .best {
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .littleBox {
    height: 1.4rem;
    width: 1.4rem;
  }

  .mainTitle {
    font-size: 1.5rem;
  }

  .instructions {
    font-size: 1rem;
  }
  .best {
    font-size: 1rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .mainBody {
    width: 60vw;
  }
  .littleBox {
    height: 2.1rem;
    width: 2.1rem;
  }
  .boxesContainer {
    gap: 0.5rem;
    margin-top: 1.5vh;
  }

  .dot {
    width: 0.5rem;
    height: 0.5rem;
  }
  .dieNum {
    font-size: 1.2rem;
  }

  .mainTitle {
    top: -15vh;
    font-size: 2rem;
    margin-top: 8rem;
  }
}
