.mainBody{
  width: 50vw;
  height: 80vh;
  border: 3vw solid black;
  margin: 5vh auto;
  background-color: cornsilk;
}

.mainTitle{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}